* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.li-style {
  list-style: none;
}

.left-float {
  float: left;
}

.right-float {
  float: right;
}

.width-fixed {
  width: 60%;
  margin: auto;
}

.orange-button {
  background-color: #ff7a59;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.orange-button:hover {
  background-color: #FF9F9F;
  cursor: pointer;
}

.shadow-box {
  box-shadow: 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.all-after {
  content: "";
  display: table;
  clear: both;
}

.container-header {
  height: 870px;
}
/* header up top */
.header-top-up {
  line-height: 70px;
}

.header-top-up ul li{
  display: inline;
}

.header-top-left ul li i {
  padding-right: 5px;
}

.color-header-up {
  height: 70px;
  background-color: #F5F8FA;
  border-bottom: 1px solid black;
}

.header-top-left ul li.border-left {
  border-left: 1px solid black;
  padding-left: 10px;
}

.header-top-right ul li i {
  color: #02A5BE;
  cursor: pointer;
}

.header-top-right ul li.border:hover {
  background-color: #EBEBEB;
  cursor: pointer;
}

.header-top-right ul li {
  padding: 0 10px;
}

.header-top-right ul li.border {
  border: 1px solid #ff7a59;
  color: #ff7a59;
  padding: 8px;
  border-radius: 5px;
}

.header-top-right ul li a.box-border {
  padding: 8px;
  text-transform: capitalize;
}
/* fine header up top */
/* Inizio header down top */
.color-header-down {
  height: 60px;
  line-height: 40px;
}

.header-top-down-right ul li {
  display: inline;
  padding-left: 10px;
}

.header-top-down-right ul li i {
  padding-left: 10px;
}

.header-top-down {
  margin-top: 20px;
  line-height: 70px,
}

.header-top-down-left img {
  vertical-align: middle;
}

.header-down-right {
  padding-top: 5px;
}
/* / header top down */
.header-middle {
  height: 655px;
  background-image: url(../img/jumbotron.png);
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-middle .img-middle-header a.box-border {
  font-size: 14px;
  padding: 15px 35px;
}

.header-middle .img-middle-header h1 {
  width: 55%;
  font-size: 38px;
  margin-bottom: 30px;
  padding-top: 30px;
}

.header-middle .img-middle-header p {
  width: 55%;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 30px;
  color: #808080;
  font-weight: bold;
}

.header-middle .img-middle-header p.block {
  margin-top: 30px;
}
/* fine header middle */
.header-bottom {
  height: 70px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  background-color: #AFEBE4;
  margin-top: -5px;
}
/* Inizio Main  */
main {
  height: 1390px;
  background-color: #E0FFFF;
}

section .text {
  text-align: center;
}

section .text img {
  width: 30%;
  margin-top: 20px;
}

section .text h2 {
  margin-top: 10px;
  margin-bottom: 25px;
}
/* creare una classe comune per tutti i P */
section .text p {
  width: 75%;
  font-size: 12px;
  line-height: 20px;
  margin: auto;
  color: #808080;
  font-weight: bold;
}
/* inizio seconda sezione book */
section .container-book {
  width: 60%;
  background-color: white;
  margin: 30px auto;
  border-radius: 5px;
}

.left-book {
  width: 200px;
  height: 300px;
}

.box-one {
  text-align: center;
  width: 40%;
}

.box-two {
  width: 60%;
}

section .container-book .box-one img {
  margin-top: 30px;
}

section .container-book .box-one a {
  display: block;
  width: 45%;
  padding: 15px 25px;
  margin: 15px auto;
}
/* sezione 2 */
section .container-book .box-two h2 {
  margin-top: 42px;
  margin-bottom: 30px;
}

section .container-book .box-two p {
  width: 80%;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 30px;
  color: #808080;
  font-weight: bold;
}

section .container-book .box-two a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.hr-right {
  display: inline-block;
  width: 50%;
  background-color: black;
  margin-left: 40px;
  margin-bottom: 4px;
}

.inline-ul li {
  display: inline-block;
  margin-top: 30px;
  margin-right: 15px;
}

section .container-book .box-two ul li i {
  color: #ff7a59;
  margin-right: 15px;
}
/* inizione sezione 3 */
.container-third-section {
  height: 698px;
  border-radius: 5px;
}

.float-left {
  width: 30%;
  text-align: center;
  background-color: white;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 5px;
}

.margin-section-third {
  margin: 25px 5%;
}

.container-third-section .float-left p {
  width: 90%;
  font-size: 12px;
  line-height: 20px;
  margin: 20px auto;
  color: #808080;
  font-weight: bold;
}

.container-third-section .float-left h2 {
  font-size: 22px;
  margin-top: 15px;
}

ul.text-left {
  text-align: left;
}

.hr-third-section {
  width: 95%;
  margin: auto;
  background-color: #808080;
}

.container-third-section .float-left ul li:first-child {
  margin: 30px auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.container-third-section .float-left ul li i {
  color: #ff7a59;
  padding: 0 17px;
}

.button {
  display: block;
  width: 65%;
  margin: 50px auto;
  padding: 15px 5px;
}
/* inizio 4 sezione */
.color-section-four {
  height: 715px;
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  color: white;
}

.color-section-four .text-four-section h2 {
  padding-top: 50px;
  margin-bottom: 30px;
}

.color-section-four .text-four-section h2,
.color-section-four .text-four-section p {
  text-align: center;
}
.color-section-four .text-four-section p {
  font-size: 12px;
}

.container-table {
  height: 500px;
  width: 60%;
  margin: 60px auto;
}

.box-four {
  width: 24%;
  height: 198px;
}

.box-four-first {
  width: 24%;
  height: 198px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.all {
  margin-left: 3%;
}

.container-table .all .box-four img {
  margin-top: 10px;
}
.container-table .all .box-four {
  text-align: center;
}

.img-1 {
  width: 80px;
  height: 55px;
  margin-bottom: 10px;
}
.img-2 {
  width: 100px;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 15px;
}
.img-3 {
  width: 125px;
  height: 50px;
}
.img-4 {
  width: 97px;
  height: 23px;
  margin-bottom: 29px;
}

#top-margin {
  margin-top: 13px;
}

#img-margin {
  margin-top: 20px;
}

.container-table .all .box-four p {
  margin-top: 25px;
}

.b-bottom {
  border-bottom: 1px solid white;
}

.container-table .all .box-four h2 {
  font-size: 35px;
}

.container-table .all .box-four i {
  margin-top: 24px;
  width: 50px;
  font-size: 30px;
  margin-bottom: 22px;
}

.img-1-b {
  width: 76px;
  height: 38px;
  margin-bottom: 10px;
}
.img-2-b {
  width: 109px;
  height: 34px;
  margin-bottom: 10px;
}

.container-table .all .box-four img.img-1-b,
.container-table .all .box-four img.img-2-b {
  margin-top: 24px;
}

.b-right {
  border-right: 1px solid white;
}
/* inizio quinta sezione */
.section-five {
  height: 800px;
}

.first-section-five {
  margin-top: 50px;
}

.left-col-five {
  width: 40%;
  height: 200px;
}
.left-col-five h3 {
  font-size: 45px;
  margin-left: 71px;
}

.left-col-five p {
  width: 60%;
  text-align: left;
  line-height: 28px;
  margin: 20px auto;
  }

.right-col-five {
  width: 60%;
  height: 200px;
  margin-top: 18px;
}

.right-col-five ul li {
  display: inline;
  margin-right: 20px;
}

.right-col-five ul li img {
  width: 99px;
  height: 30px;
  margin: 5px 5px;
}

.right-col-five ul li img.img-five-section {
  width: 89px;
  height: 16px;
}

.img-five-section-1 {
  width: 100px;
  height: 42px;
}

.right-col-five ul li img.img-five-section-2 {
  width: 90px;
  height: 12px;
  margin-bottom: 20px;
}

.right-col-five ul li img.img-five-section-3 {
  width: 80px;
  margin-bottom: 10px;
}

.right-col-five ul li img.img-five-section-4 {
  width: 90px;
  margin-bottom: 16px;
  height: 24px;
  }

.f-left {
  width: 40%;
  position: relative;
}

.second-section-five .f-left h2 {
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-transform: capitalize;
}

.second-section-five .f-left p {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.second-section-five .f-left a {
  padding: 15px 30px;
}

.second-section-five .f-left img {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 320px;
}
/* fine main */
footer {
  background-color: #33475B;
  height: 600px;
  width: 100&;
  margin-top: 1430px;
  color: white;
}

.footer-left {
  width: 23%;
  font-size: 14px;
}

footer .container-footer .footer-left ul li:first-child {
  font-size: 15px;
  color: white;
  line-height: 70px;
  font-weight: bold;
}

footer .container-footer .footer-left {
  margin-top: 40px;
  margin-right: 18.1px;
}

footer .container-footer .footer-left ul li {
  font-size: 12px;
  color: #cbd6e2;
  line-height: 35px;
}

footer .container-footer .footer-left ul li a {
  color:  #33475B;
  line-height: 60px;
  background-color: #cbd6e2;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 5px;
}

.footer-inline ul li{
  display: inline-block;
  margin-top: -10px;
  padding-right: 20px;
}

.last-div {
  text-align: center;
}

.last-div ul li {
  display: inline-block;
  font-size: 14px;
  color: #cbd6e2;
  margin-top: 25px;
  padding: 0 10px;
}

.hr-white {
  background-color: #cbd6e2;
  margin-top: 20px;
  border: 1px solid #33475B;
}

.footer-bottom {
  margin-top: 25px;
}

.footer-right ul li {
  display: inline-block;
  font-size: 14px;
  color: #cbd6e2;
  padding-left: 20px;
}

footer .container-footer .footer-left ul li:hover {
  color: #7FD1DE;
  cursor: pointer;
}

.last-div ul li:hover {
  color: #7FD1DE;
  cursor: pointer;
}
