* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.li-style {
  list-style: none;
}

.container-header {
  width: 100%;
  height: 870px;
}

/* header up top */

.header-top-up::after {
  content: "";
  display: table;
  clear: both;
}

.header-top-up {
  width: 60%;
  margin: auto;
  line-height: 70px;
}

.header-top-up ul li{
  display: inline;
}

.header-top-left {
  float: left;
}

.header-top-left ul li i {
  padding-right: 5px;
}

.header-top-right {
  float: right;
}

.color-header-up {
  background-color: #F5F8FA;
  height: 70px;
}

.header-top-left ul li.border-left {
  border-left: 1px solid black;
  padding-left: 10px;
}

.header-top-right ul li i {
  color: #02A5BE;
}

.header-top-right ul li {
  padding: 0 10px;
}

.header-top-right ul li.border {
  border: 1px solid #ff7a59;
  color: #ff7a59;
  padding: 8px;
  border-radius: 5px;
}

.header-top-right ul li.box-border {
  background-color: #ff7a59;
  color: white;
  padding: 8px;
  border-radius: 5px;
  text-transform: capitalize;
}

/* fine header up top */
/* Inizio header down top */
.color-header-down {
  height: 60px;
  line-height: 40px;
}

.header-top-down::after {
  content: "";
  display: table;
  clear: both;
}

.header-top-down {
   width: 60%;
   margin: 0 auto;
}

.header-top-down-left {
  float: left;
}

.header-top-down-right ul li {
  display: inline;
  padding-left: 10px;
}

.header-top-down-right ul li i {
  padding-left: 10px;
}

.header-top-down-right {
  float: right;
}

.header-top-down {
  margin-top: 20px;
  line-height: 70px,
}

.header-top-down-left img {
  vertical-align: middle;
}

.header-down-right {
  padding-top: 5px;
}

/* / header top down */

.header-middle {
  height: 655px;
  background-image: url(../img/jumbotron.png);
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-size: cover;

}

.img-middle-header {
  width: 60%;
  margin: auto;
}
/* Racchiudere in una classe solo le caratteristiche di tutti i bottoni con sfondo arancione (inserire il tah a nelle liste sopra)*/
.header-middle .img-middle-header a.box-border {
  background-color: #ff7a59;
  color: white;
  padding: 15px 35px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}

.header-middle .img-middle-header h1 {
  width: 55%;
  font-size: 38px;
  margin-bottom: 30px;
  padding-top: 30px;
}

.header-middle .img-middle-header p {
  font-size: 12px;
  width: 55%;
  margin-bottom: 30px;
  font-weight: bold;
  color: #808080;
  line-height: 20px;
}

.header-middle .img-middle-header p.block {
  margin-top: 30px;
}

/* fine header middle */
/* inizio header bottom */

.header-bottom {
  height: 70px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  background-color: #AFEBE4;
  margin-top: -5px;
}
/* fine header aggiungere hover dove necessario */

/* Inizio Main  */

main {
  height: 1300px;
  background-color: #E0FFFF;
}

section .text {
  width: 60%;
  margin: auto;
  text-align: center;
}

section .text img {
  margin-top: 20px;
  width: 30%;
}

section .text h2 {
  margin-top: 10px;
  margin-bottom: 25px;
}

/* creare una classe comune per tutti i P */
section .text p {
  width: 75%;
  font-size: 12px;
  color: #808080;
  margin: auto;
  line-height: 20px;
  font-weight: bold;
}

/* finita prima sezione */

/* inizio seconda sezione book */
/* aggiunger text shadow */
section .container-book {
  width: 60%;
  margin: 30px auto;
  background-color: white;
  border-radius: 5px;
}

.container-book::after {
  content: "";
  display: table;
  clear: both;
}

.left-book {
  float: left;
  width: 200px;
  height: 300px;
}

.box-one {
  text-align: center;
  width: 40%;
}

.box-two {
  width: 60%;
}

section .container-book .box-one img {
  margin-top: 30px;
}

section .container-book .box-one a {
  width: 45%;
  background-color: #ff7a59;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  display: block;
  margin: 15px auto;
  text-decoration: none;
}

/* sezione 2 */

section .container-book .box-two h2 {
  margin-top: 42px;
  margin-bottom: 30px;
}

section .container-book .box-two p {
  font-size: 12px;
  font-weight: bold;
  color: #808080;
  line-height: 20px;
  margin-bottom: 30px;
  width: 80%;
}

section .container-book .box-two a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.hr-right {
  width: 50%;
  display: inline-block;
  background-color: black;
  margin-left: 40px;
  margin-bottom: 4px;
}

.inline-ul li {
  display: inline-block;
  margin-top: 30px;
  margin-right: 15px;
}

section .container-book .box-two ul li i {
  color: #ff7a59;
  margin-right: 15px;
}

/* inizione sezione 3 */
/* creafre una classe con tutti i div con float left */

.container-third-section {
  width: 60%;
  margin: auto;
  border-radius: 5px;
  height: 500px;
}

.container-third-section::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
  width: 30%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}

.margin-section-third {
  margin: 25px 5%;
}

.container-third-section .float-left p {
  font-size: 12px;
  width: 90%;
  font-weight: bold;
  color: #808080;
  line-height: 20px;
  margin: 20px auto;
}

.container-third-section .float-left h2 {
  font-size: 22px;
}

ul.text-left {
  text-align: left;
}

.hr-third-section {
  width: 95%;
  margin: auto;
  background-color: #808080;
}

.container-third-section .float-left ul li:first-child {
  text-transform: uppercase;
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
}

.container-third-section .float-left ul li i {
  color: #ff7a59;
  padding: 0 17px;
}
